@import 'vars';
@import 'global';
@import 'fonts';


//start header



.header__info{
   background-color: #eef1f3;    
}
.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 100px; 
   &-logo{
      display: flex;
      align-items: center;
      font-weight: 700;
   }
   &-img{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 50px;
      height: 50px;
   }
   &-text{
      color: #000;
      font-size: 30px;
      padding-left: 10px;
      span{
         color: $blue;
      }
   }
   &-login{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-btn{
      font-size: 14px;
      line-height: 28px;
      background-color: $blue;
      color: #fff;
      border-radius: 18px;
      margin-right: 50px;
      padding: 6px 19px 6px 18px;
   }
   &-profile{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;
   }
   &-avatar{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 50px;
      height: 50px;
      margin-right: 22px;
   }
   &-title{
      color: #333333;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
   }
   &-balans{
      color: $blue;
   }
}
.header__inner-icon{
   position: relative;
   span{
      position: absolute;
      top: -11px;
      right: -17px;
      line-height: 22px;
      height: 22px;
      min-width: 22px;
      border-radius: 11px;
      text-align: center;
      padding: 0 5px;
   }
   & + .header__inner-icon{
      margin-left: 30px;
   }
}
.header__inner-icon-notification{
   span{
      background-color: #ff6a6c;
   }  
}
.header__inner-icon-message{
   span{
      background-color: #62d03b;
   } 
}
.header__inner-icon-cart{
   span{
      background-color: $blue;
   } 
}
.lnr-alarm,
.lnr-envelope2,
.lnr-cart{
   font-size: 20px;
   color: #7e8fa1;
}
.header__menu-inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 80px;
}
.menu-list{
   li{
      & + li{
         padding-left: 31px;
      }
   }
   a{
      color: #000;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
   }
}
.header__search{
   width: 360px;
   position: relative;
   input{
      height: 46px;
      padding-left: 25px;
      padding-right: 85px;
      width: 100%;
      border-radius: 23px;
      outline: none;
      border: 1px solid #d9dfe5;
      &::placeholder{
         color: #898f96;
      }
   }
   button{
      position: absolute;
      border: none;
      width: 70px;
      height: 46px;
      background-color: $blue;
      border-radius: 23px;
      top: 0;
      right: 0;
      outline: none;
   }
}
 
.profile__menu{
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   width: 270px;
   height: 0;
   position: absolute;
   overflow: hidden;
   padding: 0 20px;
   top: 100px;
   z-index: 1;
   transition: all .3s;
   left: 0;
   border-top: 0px solid $blue;
   background-color: #fff;
   a.lnr{
      color: #54667a;
      font-size: 15px;
      margin: 0;
      width: 100%; 
      height: 100% !important;  
      &::before{
         margin-right: 15px;
      }
      &:hover{
         color: #fff;
      }
   }
   li{
      display: block;
      padding: 6px 10px;
      &:hover{
         background-color: $blue;
      }
   }
}
.header__inner-profile{
   height: 100px;
   position: relative;
   &:hover{
      .profile__menu{
         height: auto;
         overflow: auto;
         border-top-width: 1px;
         padding: 20px;
      }
   }
}

//end header

//start info

.info{
   background-image: linear-gradient( -90deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100% );
   min-height: 725px;
   text-align: center;
   position: relative;
   &__title{
      font-size: 60px;
      line-height: 70px;
      font-weight: 500;
      padding-top: 179px;
      color: #fff;
      span{
         font-weight: 700;
         display: block;
      }
   }
   &__text{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      line-height: 72px;
      margin-bottom: 36px;
   }
   &__items{
      display: flex;
      justify-content: center;
      a + a{
         margin-left: 19px;  
      }
      &-btn{
         color: #fff;
         border: 1px solid #fff;
         border-radius: 29px;
         padding: 12px 30px;
         font-size: 16px;
         
         &:hover{
            background-color: #fff;
            color: $blue;
         }       
      }
   }
}
.info__box-item1, .info__box-item2{
   max-width: 1080px;
   background-color: #fff;
   opacity: 0.5;
   height: 95px;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   margin: 0 auto;
   z-index: 1;
   width: 100%;
   border-radius: 6px 6px 0 0;
}
.info__box-item2{
   max-width: 1110px;
   height: 82px;
}

//end info

// start items

.items{
   padding: 230px 0 160px;
   position: relative;
}
.items__search{
   background-color: #fff;
   max-width: 1140px;
   position: absolute;
   top: -65px;
   z-index: 3;
   width: 100%;
   border-radius: 6px 6px 0 0;
   box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
   padding-left: 40px;
   form{
      display: flex;
      align-items: center;
      height: 135px;     
   }
   input{
      max-width: 614px;
      width: 100%;
      border: 1px solid #dcdcdc;
      border-radius: 4px 0 0 4px;
      padding: 15px 30px;
      outline: none;
      &::placeholder{
         color: #676767;
         font-size: 16px;
      }
   }
   button{
      display: inline-block;
      border-radius: 4px;
      border: none;
      background-color: $blue;
      outline: none;
      height: 49px;
      padding-left: 65px;
      padding-right: 65px;
      color: #fff;
      margin-left: 30px;
   }
   .items__category{
      max-width: 196px;
      background-color: #fff;
      border: 1px solid #dcdcdc;
      border-left: none;
      height: 49px;
      position: relative;
      width: 100%;
      &-down{
         display: none;
         position: absolute;
         width: 197px;
         top: 48px;
         left: -1px;
         border: 1px solid #dcdcdc; 
         border-top: none;      
         a{
            color: #000;
            padding-left: 20px;
            padding-right: 20px;
            max-width: 197px;
         width: 100%;
         }
      }
      &-all{
         padding: 8px 40px 8px 20px;
      }
      li{
         display: flex;
         align-items: center;
         height: 49px;
         color: #000;        
      }    
   } 
}
.items__inner{
   display: flex;
   justify-content: space-around;
   &-items{
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;     
   }
   &-img{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 112px;
      min-height: 112px;
      width: 100%;
      margin-bottom: 36px;      
   }
   &-title{
      font-size: 24px;
      color: #000;
      margin-bottom: 23px;
   }
   &-text{
      color: $gray;
      line-height: 30px;
      font-size: 16px;
   }
}

//end items

//start slider

.slider{
   background-color: #eff1f5;
   padding: 120px 0;
}
.slider__title-inner{
   margin-bottom: 50px;
}
.slick-slider{
   button{
      border: none;  

   }
}
.slick-arrow{
   width: 55px;
   height: 45px;
   background-color: #7347c1;
   position: absolute;
   outline: none;
   cursor: pointer;
}
.slick-prev{
   border-radius: 23px 0 0 23px;
   top: -127px;
   right: 85px;
  
}
.slick-next{
   border-radius: 0 23px 23px 0;
   top: -127px;
   right: 30px;  
}

.slider__items{
   display: flex !important;
   justify-content: space-between;
   &-img{
      max-width: 555px;
      height: 450px;
      width: 100% ; 
   }
   &-inner{
      background-color: #fff;
      max-width: 585px;
      padding: 46px 50px 24px 50px;
   }
   &-title{
      color: #000;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
   }
   &-info{
      display: flex;
      margin-bottom: 30px;
   }
   &-avatar{
      width: 30px;
      height: 30px;
      margin-right: 9px;
   }
   &-name{
      color: #000;
      margin-right: 45px;
   }
   &-wordpress{
      color: #7347c1;
      position: relative;
      &:before{
         content: '';
         position: absolute;
         background-image: url(../images/content/wordpress.png);
         width: 16px;
         height: 16px;
         left: -20px;
         top: 8px;
      }
   }
   &-text{
      font-size: 16px;
      line-height: 30px;
      color: $gray;
      margin-bottom: 30px;

   }
   &-plagins{
      display: flex;  
      margin-bottom: 68px;
      position: relative;
      
      &:after{
         content: '';
         position: absolute;
         height: 1px;
         max-width: 485px;
         background-color: #ececec;
         bottom: -45px;
         width: 100%;
      }
      a + a{
         margin-left: 7px;
      }   
   }
   &-plagin{
      background-color: #f1f3f6;
      padding: 0 17px;
      color: #868c96;
      border-radius: 15px;
      outline: none;
   } 
   &-rate{
      display: flex;
      align-items: center;
      height: 32px;
      justify-content: space-between;
   }  
   &-price{
      font-weight: 500;
      color: #fff;
      line-height: 32px;
      border-radius: 16px;
      background-color: $blue;
      padding: 7px 19px;
      margin-right: 45px;
   }
   &-like{
      color: $gray;
      margin-right: 43px;
   }
   &-cart{
      color: $blue;      
   }
}


//end slider

//start product

.product{
   background-color: #f6f7fb;
   padding: 120px 0;
}
.product__title{
   justify-content: space-between;
   &-title{
      font-size: 30px;
      color: #000;
   }
}
.product__filter{
   display: flex;
   &-text{
      padding-right: 25px;
   }
   &-dots{
      padding-right: 30px;
      transform: translateY(20%);
   }
}
.product__inner{
   &-btn{
      box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
      background-color: #fff;
      height: 92px;
      margin-bottom: 50px;
      button{
         border: none;
         color: #747b86;
         background-color: #f1f3f6;
         border-radius: 16px;
         padding: 0 20px;
         line-height: 32px;
         margin: 30px 0 0 30px;
         outline: none;
         cursor: pointer;
         & + button{
            margin-left: 10px;
         }
         &.mixitup-control-active{
            color: #fff;
            background-color: $blue;
         }
      }
   }
   &-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}
.product__item{
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   transition: all .5s;
   &-img{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 360px ;
      min-height: 230px ;
      width: 100%;
   }
   &-inner{
      max-width: 360px;
      height: 300px;
      padding: 0;
   }
   &-title{
      font-size: 20px;
      font-weight: 500;
      padding: 30px 30px 0;
   }
   &-text{
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
   }
   &-info{
      margin-bottom: 20px;
      padding: 0 30px;
   }
   
   &-option{
      display: flex;
      position: relative;
      margin-bottom: 30px;
      justify-content: space-between;
      padding: 0 30px;
      &::before{
         position: absolute;
         content: '';
         max-width: 360px !important;
         background-color: #e6f1fd;
         height: 1px;
         width: 100%;
         top: -15px;
         left: 0;
      }
   }
   &-price{
      background-color: #e6f1fd;
      color: $blue;
      padding: 0 17px;
      border-radius: 15px;
   }
}

.product__items-like{
   padding-left: 30px;
}
.product__botton-btn{
   margin-top: 60px;
  text-align: center;
   button{
      border: none;
      font-size: 16px;
      padding: 14px 39px;
      background-color: $blue;
      color: #fff;
      border-radius: 28px;
      cursor: pointer;
      outline: none;
   } 
}
 
//end product

 //start slider-2

 .slider-2{
    background-color: #eff1f5;
    padding: 120px 0;
 }
 .slider-2__inner{
    display: flex;
    justify-content: space-between;
    & .slick-arrow{
       background-color: $blue;
    }
 }
 .slider-2__star{
    padding-top: 8px;
 }
 
 //end slider-2

 //start statistic

 .statistic{
    background-color: #212225;
    padding: 90px 0;
    &__inner{
       display: flex;
       justify-content: space-between;
    }
    &__sale{
       color: #feb71d;
       &-img{
         &::before{
            content: "\f290";           
            color: #feb71d;
          }
       }
    }
    &__sales{
       color: #58c9e9;
       &-img{
         &::before{
            content: "\f0ed";
            color: #58c9e9;
          }
       }
    }
    &__customers{
       color: #77de51;
       &-img{
         &::before{
            content: "\f118";
            color: #77de51;
          }
       }
    }
    &__members{
       color: #ff6a6d;
       &-img{
         &::before{
            content: "\f2c0";          
            color: #ff6a6d;
          }
       }
    }
 }
 .statistic__item{
    line-height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-summa{
       font-size: 36px;
       margin-bottom: 7px;
    }
    &-text{
       font-size: 18px;
       color: #fff;
    }
    &-img{
      font-size: 48px;
      font-family: 'icomoon';
      margin-bottom: 45px;
    }
 }

 //end statistic
 //start advantages

.advantages{
   padding: 110px 0 120px;
}
.advantages__title{
   font-size: 36px;
   text-align: center;
   color: #000;
   margin-bottom: 20px;
   span{
      color: $blue;
   }
}
.advantages__text{
   max-width: 680px;
   text-align: center;
   color: $gray;
   font-size: 18px;
   margin: 0 auto 55px;
}
.advantages__inner{
   display: flex;
   flex-wrap: wrap;
}
.advantages__item{
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   max-width: 360px;
   padding: 20px 20px 50px 20px;
}
.advantages__item-number{
   color: #dfe8ff;
   font-size: 48px;
   font-weight: 300;
}
.lnr{
   display: inline-block;
   fill: currentColor;
   width: 1em;
   height: 1em;
   vertical-align: -0.05em;
}
.lnr-license{
   font-size: 60px;
   color: $blue;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-magic-wand{
   color: #7f4ec2;
   font-size: 60px;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-lock{
   font-size: 60px;
   color: #77de51;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-chart-bars{
   font-size: 60px;
   color: #feb71d;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-leaf{
   font-size: 60px;
   color: #58c9e9;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-phone{
   font-size: 60px;
   color: #ff6a6d;
   margin-bottom: 30px;
   margin-left: 130px;
}
.advantages__item-title{
   text-align: center;
   font-size: 24px;
   color: #000;
   margin-bottom: 20px;
}
   
.advantages__item-text{
   text-align: center;
   font-size: 14px;
   line-height: 30px;
   color: $gray;
   padding: 0 30px;
}

 //end advantages
 //start buy-sell

.buy-sell{
   margin-bottom: 110px;
   color: #fff;
   &__img{
      padding: 100px 0 45px;
   }
   &__title{
      font-size: 36px;
      margin-bottom: 30px;
   }
   &__text{
      font-size: 16px;
      max-width: 580px;
      margin: 0 auto;
      margin-bottom: 45px;
   }
   &__btn{
      background-color: #fff;
      font-size: 16px;
      border-radius: 27px;
      padding: 16px 30px;
   }
}
.buy-sell__inner{
   display: flex;
}
.buy-sell__item{
   min-height: 560px;
   width: 51%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   text-align: center;
}
.buy__item{
   background-image: url(../images/buy.png);
}
.sell__item{
   background-image: url(../images/sell.png);
}
.buy__btn{
   color: $blue;
}
.sell__btn{
   color: $purple;
}

 //end buy-sell
 //start commets

.commets{
   padding-bottom: 110px;
}
.commets__title{
   font-size: 36px;
   color: #000;
   text-align: center;
   margin-bottom: 25px;
   span{
      color: $blue;
   }
}
.commets__text{
   font-size: 16px;
   color: $gray;
   text-align: center;
   max-width: 685px;
   margin: 0 auto 55px;
   line-height: 30px;
}
.commets__inner{
   display: flex;
}
.commets__item{
   border-left: 2px solid $blue;
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   padding: 40px 40px 40px 50px;
   margin-bottom: 60px;
   margin-right: 30px;
   & + .commets__item{
      margin-right: 30px;
   }
   &-img{
      width: 80px;
      height: 80px;
      margin-right: 20px;
   }
   &-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
   }
   &-wrapper{
      display: flex;
      align-items: center;
   }
   &-name{
      font-size: 20px;
      color: #000;
   }
   &-product{
      font-size: 16px;
      color: $gray;
   }
   &-text{
      font-size: 16px;
      color: $gray;
   }
}
.commets__btn{
   background-color: $blue;
   text-align: center;
   
   font-size: 16px;
   padding: 17px 35px;
   border-radius: 27px;
}
.lnr-bubble{
   font-size: 60px;
   color: #e8e8e8;
}
.commets__button{
   text-align: center;
}

 //end commets
 //start news

.news{
   background-color: #eff1f5;
   padding: 120px 0;
}
.news__inner{
   display: flex;  
}
.news__item{
   background-color: #fff;
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   border-radius: 3px;
   & + .news__item{
      margin-left: 30px;
   }
   &-img{
      max-width: 360px;
      height: 230px;
   }
   &-content{
      padding: 25px 30px;
      position: relative;
   }
   &-title{
      font-weight: 500;
      font-size: 22px;
      color: #000;
      margin-bottom: 12px;
   }
   &-text{
      font-size: 16px;
      line-height: 30px;
      color: $gray;
      margin-bottom: 55px; 
      &::before{
         content: '';
         height: 1px;
         max-width: 360px;
         background-color: #ececec;
         width: 100%;
         position: absolute;
         bottom: 60px;
         left: 0;
      }
   }
   &-info{
      display: flex;
      color: #999;
      line-height: 15px;
      &::before{
         content: '';
         width: 1px;
         height: 40px;
         background-color: #ececec;
         position: absolute;
         bottom: 10px;
         left: 50%;
      }
   }
   &-data{
      margin-right: 80px;
      display: flex;
      
   }
   &-comment{
      margin-right: 30px;
      display: flex;
   }
   &-watching{
      display: flex;
   }
   .lnr-clock{
      color: $blue;
      margin-right: 7px;
   }
   .lnr-bubble2{
      margin-right: 7px;
   }
   .lnr-eye{
      margin-right: 7px;
   }
}

 //end news
 //start garant

.garant{
   padding: 60px 0;
}
.garant__inner{
   display: flex;
}
.garant__item{
   width: 50%;
   text-align: center;
}
.garant__img{
   margin-bottom: 17px;
}
.garant__title{
   font-size: 24px;
   color: #000;
   span{
      color: $blue;
   }
   .garant__support{
      color: $purple;
   }
}

 //end garant
 //start join

.join{
   background-image: linear-gradient( -90deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
   padding: 110px 0;
   color: #fff;
}
.join__box{
   text-align: center;
}
.join__title{
   font-size: 36px;
   margin-bottom: 20px;
}
.join__text{
   font-size: 18px;
   margin-bottom: 50px;
}
.join__btn{
   background-color: #fff;
   padding: 17px 44px;
   border-radius: 27px;
   color: $blue;
   font-size: 16px;
}

 //end join
 //start footer

.footer__menu{
   background-color: #262b30;
   padding: 120px 0;
}
.footer__inner{
   display: flex;
   justify-content: space-between;
}
.footer__col{
   color: #ababab;
   margin-right: 60px;
   width: 280px;
   &-text{
      line-height: 28px;
      margin-top: 15px;
      margin-bottom: 18px;
   }
   &-phone{
      a{
         color: #ababab;
      }
   }
   &-mail{
      color: #ababab;
   }
   &-adress{
      display: flex;
      align-items: center;
      &-text{
         width: 230px;
      }
   }
}
.lnr-phone-handset,
.lnr-envelope,
.lnr-map-marker{
   margin-right: 10px;
   font-size: 16px;
   color: #fff;
}
.footer__list{
   width: 160px;
   margin-right: 30px;
   &-title{
      font-size: 18px;
      color: #fff;
      margin-bottom: 30px;
   }
   &-col{
      display: flex;
      flex-direction: column;
      a{
         color: #ababab;
      }
   }
}
.footer__form{
   max-width: 370px;
   &-text{
      color: #ababab;
      margin-bottom: 25px;
   }
   form{
      position: relative;
      margin-bottom: 50px;
   }
   input{
      height: 50px;
      border: none;
      max-width: 360px;
      width: 100%;
      position: relative;
      padding: 0 120px 0 30px;
      color: #ababab;
      border-radius: 25px;
      outline: none;
      &::placeholder{
         color: #ababab;
      }
   }
   button{
      height: 50px;
      background-color: $blue;
      position: absolute;
      color: #fff;
      border-radius: 25px;
      padding: 0 30px;
      right: 0;
   }
}
.footer__form-icons{
   display: flex;
}
.footer__form-icon{
   width: 42px;
   height: 42px;
   border-radius: 50%;
   position: relative;
   &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'icomoon';
      color: #fff;
   }
   & + .footer__form-icon{
      margin-left: 13px;
   }
}
.icon-facebook{
   background-color: #395799;
   
}
.icon-twitter{
   background-color: #19b2f5;
}
.icon-google{
   background-color: #f05b44;
}
.icon-pinterest{
   background-color: #9c0c1c;
}
.icon-linkedin{
   background-color: #0da6be;
}
.icon-dribbble{
   background-color: #ea4c89;
}
.footer__copy{
   background-color: #192027;
   color: #999;
   height: 94px;
   display: flex;
   align-items: center;
   justify-content: center;
   span{
      color: #fff;
   }
}

 //end footer
// start search 

.search{
   background-image: linear-gradient( -90deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
   padding: 90px 0 30px;
   text-align: center;
   &__title{
      font-size: 26px;
      color: #fff;
      margin-bottom: 30px;
      span{
         font-weight: 500;
      }
   }
   form{
      position: relative;
      max-width: 555px;
      margin: 0 auto 30px;
      input{
         height: 55px;
         border-radius: 28px;
         border: none;
         max-width: 555px;
         width: 100%;
         padding: 0 125px 0 30px;
         outline: none;         
         &::placeholder{
            color: #747b86;
         }
      }
      button{
         background-color: $blue;
         border-radius: 28px;
         color: #fff;
         height: 55px;
         position: absolute;
         padding: 0 30px;
         right: -1px;
         top: 0;
      }
   }
}

//end search
//start filter

.filter{
   background-color: #fff;
   box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.filter__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}
.filter__wrapper{
   display: flex;
   &-item{
      margin-right: 30px;
      color: #747b86;
      border: 1px solid #eceff2;
      border-radius: 2px;
      padding: 0 18px;
      height: 44px;
      display: flex;
      align-items: center;
      span{
         color: $gray;
      }
      svg{
         margin-left: 50px;
      }
   }
   &-btn{
      border: 1px solid #eceff2;
      border-radius: 2px;
      padding: 0 13px;
      height: 44px;
      display: flex;
      align-items: center;
      button + button{
         margin-left: 5px;
      }
   }
}
.page__button-colum.active, .page__button-row.active{
   svg{
      path{
         fill: currentColor;
         color: $blue;
      }     
   }
}
.filter__btn{ 
   button{
      color: $gray;
      font-size: 16px;
      
      & + button{
         margin-left: 20px;   
      }
   }
   .mixitup-control-active{
      color: $blue;
   }
}

 
//end filter
//start new-items

.new-items{
   background-color: #eff1f5;
   padding: 80px 0 120px;
}
.new-items__inner{
   display: flex;
}
.aside__item-list{
   li{
      display: flex;
      align-items: center;
      color: $gray;
      line-height: 36px;
      .lnr-chevron-right{
         margin-right: 10px;
         color: #747b86;
         font-size: 10px;
      }
   }
}
.aside__wrapper-number{
   color: #747b86;
}
.aside-list__wrapper{
   display: flex;
   justify-content: space-between;
   width: 190px;
}
.aside__item{
   padding: 31px 30px 35px;
   background-color: #fff;
   width: 263px ;
   box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
   margin-bottom: 30px;
   border-radius: 3px;
}
.aside__box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 19px;
   margin-bottom: 23px;
   border-bottom: 1px solid #e7ebee;
   .lnr-chevron-down{
      color: $gray;
      font-size: 12px;
   }
}
.aside__item-title{
   color: #010101;
   font-size: 20px;   
}
.aside__range{
   text-align: center;
   span{
      margin-bottom: 80px;
   }
   button{
      background-color: $blue;
      padding: 13px 34px;
      color: #fff;
      border-radius: 23px;
      margin-bottom: 10px;
   }
   .irs--flat .irs-handle {
      top: 22px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #fff;
      border: 4px solid $blue;
      i{
         display: none;
      }
   }
   .irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
      color: $purple;
      font-size: 15px;
      line-height: 32px;
      text-shadow: none;
      padding: 0 28px;
      background-color: #f1ecf9;
      border-radius: 15px;
      top: 57px;
      &::before{
         display: none;
      }
   }
   .irs-from{
      margin-left: 15px;
   }
   .irs--flat .irs-max, .irs--flat .irs-min {
      display: none;
   }
   .irs--flat .irs-bar {
      top: 28px;
      height: 6px;
      background-color: $purple;
   }
   .irs--flat .irs-line {
      top: 28px;
      height: 6px;
      background-color: #efedf3;
      border-radius: 3px;
   }
}
.content-row__inner{
   display: flex;
   flex-wrap: wrap;
}
.new-items__item{
   margin-left: 30px;
   box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.new-items__img{
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 160px;
   max-width: 262px;
   width: 100%;
   border-radius: 5px 5px 0 0;
}
.new-items__wrapper{
   background-color: #fff;
   padding: 19px;
   max-width: 262px;
   width: 100%;
   border-radius: 0 0 5px 5px;
   .slider__items-title{
      padding: 0;
      color: #000;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
   }
   .new__items-profile{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
   }
   .new__items-rate{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 17px;
      &::before{
         content: '';
         position: absolute;
         width: 262px ;
         height: 1px;
         background-color: #ececec;
         left: -19px;
         bottom: 0;
      }
   }
   .new__items-rate-cart{
      color: $blue;
      .lnr-cart{
         font-size: 15px;
         color: $blue;
         margin-right: 5px;
      }
   }
   .new__items-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .new__items-price{
      background-color: #e6f1fd;
      color: $blue;
      padding: 0 19px;
      border-radius: 17px;
      font-weight: 500;
   }
}
.colum__wordpress,
.colum__text,
.colum__author-icon,
.colum__price{
   display: none;
}
.new-items__item.list{
   max-width: 100%;
   flex-direction: row;  
   .new-items__img{
      float: left;
      width: 230px;
      min-height: 100%;
      border-radius: 5px 0 0 5px;
   }
   .new-items__wrapper{
      max-width: 100%;
      display: flex;
      padding: 25px 0 20px;
      border-radius: 0 5px 5px 0;
   }
   .colum__wordpress{
      display: block;
      padding-left: 25px;
      &::before{
         left: 0;
      }      
   }
   .colum__text{
      display: block;
      line-height: 30px;
      margin-bottom: 15px;
   }
   .colum__info{
      width: 260px;
      padding: 0 15px 0 20px;
      border-right: 1px solid #ececec; 
   }
   .colum__author{
      width: 205px;
      padding: 15px 20px;
      border-right: 1px solid #ececec; 
      .slider__items-avatar{
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
      }
      .slider__items-name{
         margin-right: 0;
      }
   }
   .colum__author-icon{
      display: block;
      
   }
   .colum__rate{
      display: flex;
      align-items: center;
      span{
         color: #6f7d8d;
         margin-left: 5px;
      }
   }
   .colum-icon__like,
   .colum-icon-comment{
      display: flex;
      align-items: center;
      svg{
         font-size: 15px;
         color: $purple;
         margin-right: 6px;        
      }
   }
   .colum-icon__like-text{
      color: #6f7d8d;
      line-height: 30px;
   }
   .colum__price{
      display: block;
      padding: 40px 0 40px 20px;
      .new__items-price{
         margin-bottom: 20px;
      }
      .new__items-rate-cart{
         text-align: center;
      }
   }
   .new__items-rate,
   .new__items-box{
      display: none;
   }
}

 
//end new-items



 