@import 'vars';
@import 'global';
@import 'fonts';


//start header



.header__info{
   background-color: #eef1f3;    
}
.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 100px; 
   &-logo{
      display: flex;
      align-items: center;
      font-weight: 700;
   }
   &-img{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 50px;
      height: 50px;
   }
   &-text{
      color: #000;
      font-size: 30px;
      padding-left: 10px;
      span{
         color: $blue;
      }
   }
   &-login{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-btn{
      font-size: 14px;
      line-height: 28px;
      background-color: $blue;
      color: #fff;
      border-radius: 18px;
      margin-right: 219px;
      padding: 6px 19px 6px 18px;
   }
   &-profile{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-avatar{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 50px;
      height: 50px;
      margin-right: 22px;
   }
   &-title{
      color: #333333;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
   }
   &-balans{
      color: $blue;
   }
}
.header__menu-inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 80px;
}
.menu-list{
   li{
      & + li{
         padding-left: 31px;
      }
   }
   a{
      color: #000;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
   }
}
.header__search{
   width: 360px;
   position: relative;
   input{
      height: 46px;
      padding-left: 25px;
      padding-right: 85px;
      width: 100%;
      border-radius: 23px;
      outline: none;
      border: 1px solid #d9dfe5;
      &::placeholder{
         color: #898f96;
      }
   }
   button{
      position: absolute;
      border: none;
      width: 70px;
      height: 46px;
      background-color: $blue;
      border-radius: 23px;
      top: 0;
      right: 0;
      outline: none;
   }
}

//end header

//start info

.info{
   background-image: linear-gradient( -90deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100% );
   min-height: 725px;
   text-align: center;
   position: relative;
   &__title{
      font-size: 60px;
      line-height: 70px;
      font-weight: 500;
      padding-top: 179px;
      color: #fff;
      span{
         font-weight: 700;
         display: block;
      }
   }
   &__text{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      line-height: 72px;
      margin-bottom: 36px;
   }
   &__items{
      display: flex;
      justify-content: center;
      a + a{
         margin-left: 19px;  
      }
      &-btn{
         color: #fff;
         border: 1px solid #fff;
         border-radius: 29px;
         padding: 12px 30px;
         font-size: 16px;
         
         &:hover{
            background-color: #fff;
            color: $blue;
         }       
      }
   }
}
.info__box-item1, .info__box-item2{
   max-width: 1080px;
   background-color: #fff;
   opacity: 0.5;
   height: 95px;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   margin: 0 auto;
   z-index: 1;
   width: 100%;
   border-radius: 6px 6px 0 0;
}
.info__box-item2{
   max-width: 1110px;
   height: 82px;
}

//end info

// start items

.items{
   padding: 230px 0 160px;
   position: relative;
}
.items__search{
   background-color: #fff;
   max-width: 1140px;
   position: absolute;
   top: -65px;
   z-index: 3;
   width: 100%;
   border-radius: 6px 6px 0 0;
   box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
   padding-left: 40px;
   form{
      display: flex;
      align-items: center;
      height: 135px;     
   }
   input{
      max-width: 614px;
      width: 100%;
      border: 1px solid #dcdcdc;
      border-radius: 4px 0 0 4px;
      padding: 15px 30px;
      outline: none;
      &::placeholder{
         color: #676767;
         font-size: 16px;
      }
   }
   button{
      display: inline-block;
      border-radius: 4px;
      border: none;
      background-color: $blue;
      outline: none;
      height: 49px;
      padding-left: 65px;
      padding-right: 65px;
      color: #fff;
      margin-left: 30px;
   }
   .items__category{
      max-width: 196px;
      background-color: #fff;
      border: 1px solid #dcdcdc;
      border-left: none;
      height: 49px;
      position: relative;
      width: 100%;
      &-down{
         display: none;
         position: absolute;
         width: 197px;
         top: 48px;
         left: -1px;
         border: 1px solid #dcdcdc; 
         border-top: none;      
         a{
            color: #000;
            padding-left: 20px;
            padding-right: 20px;
            max-width: 197px;
         width: 100%;
         }
      }
      &-all{
         padding: 8px 40px 8px 20px;
      }
      li{
         display: flex;
         align-items: center;
         height: 49px;
         color: #000;        
      }    
   } 
}
.items__inner{
   display: flex;
   justify-content: space-around;
   &-items{
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;     
   }
   &-img{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 112px;
      min-height: 112px;
      width: 100%;
      margin-bottom: 36px;      
   }
   &-title{
      font-size: 24px;
      color: #000;
      margin-bottom: 23px;
   }
   &-text{
      color: $gray;
      line-height: 30px;
      font-size: 16px;
   }
}

//end items

//start slider

.slider{
   background-color: #eff1f5;
   padding: 120px 0;
}
.slider__title-inner{
   margin-bottom: 50px;
}
.slick-slider{
   button{
      border: none;  

   }
}
.slick-arrow{
   width: 55px;
   height: 45px;
   background-color: #7347c1;
   position: absolute;
   outline: none;
   cursor: pointer;
}
.slick-prev{
   border-radius: 23px 0 0 23px;
   top: -127px;
   right: 85px;
  
}
.slick-next{
   border-radius: 0 23px 23px 0;
   top: -127px;
   right: 30px;  
}

.slider__items{
   display: flex !important;
   justify-content: space-between;
   &-img{
      max-width: 555px;
      height: 450px;
      width: 100% ; 
   }
   &-inner{
      background-color: #fff;
      max-width: 585px;
      padding: 46px 50px 24px 50px;
   }
   &-title{
      color: #000;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
   }
   &-info{
      display: flex;
      margin-bottom: 30px;
   }
   &-avatar{
      width: 30px;
      height: 30px;
      margin-right: 9px;
   }
   &-name{
      color: #000;
      margin-right: 45px;
   }
   &-wordpress{
      color: #7347c1;
      position: relative;
      &:before{
         content: '';
         position: absolute;
         background-image: url(../images/content/wordpress.png);
         width: 16px;
         height: 16px;
         left: -20px;
         top: 8px;
      }
   }
   &-text{
      font-size: 16px;
      line-height: 30px;
      color: $gray;
      margin-bottom: 30px;

   }
   &-plagins{
      display: flex;  
      margin-bottom: 68px;
      position: relative;
      
      &:after{
         content: '';
         position: absolute;
         height: 1px;
         max-width: 485px;
         background-color: #ececec;
         bottom: -45px;
         width: 100%;
      }
      a + a{
         margin-left: 7px;
      }   
   }
   &-plagin{
      background-color: #f1f3f6;
      padding: 0 17px;
      color: #868c96;
      border-radius: 15px;
      outline: none;
   } 
   &-rate{
      display: flex;
      align-items: center;
      height: 32px;
      justify-content: space-between;
   }  
   &-price{
      font-weight: 500;
      color: #fff;
      line-height: 32px;
      border-radius: 16px;
      background-color: $blue;
      padding: 7px 19px;
      margin-right: 45px;
   }
   &-like{
      color: $gray;
      margin-right: 43px;
   }
   &-cart{
      color: $blue;      
   }
}


//end slider

//start product

.product{
   background-color: #f6f7fb;
   padding: 120px 0;
}
.product__title{
   justify-content: space-between;
   &-title{
      font-size: 30px;
      color: #000;
   }
}
.product__filter{
   display: flex;
   &-text{
      padding-right: 25px;
   }
   &-dots{
      padding-right: 30px;
      transform: translateY(20%);
   }
}
.product__inner{
   &-btn{
      box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
      background-color: #fff;
      height: 92px;
      margin-bottom: 50px;
      button{
         border: none;
         color: #747b86;
         background-color: #f1f3f6;
         border-radius: 16px;
         padding: 0 20px;
         line-height: 32px;
         margin: 30px 0 0 30px;
         outline: none;
         cursor: pointer;
         & + button{
            margin-left: 10px;
         }
         &.mixitup-control-active{
            color: #fff;
            background-color: $blue;
         }
      }
   }
   &-box{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}
.product__item{
   display: flex !important;
   flex-direction: column;
   margin-bottom: 30px;
   &-img{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 360px ;
      min-height: 230px ;
      width: 100%;
   }
   &-inner{
      max-width: 360px;
      height: 300px;
      padding: 0;
   }
   &-title{
      font-size: 20px;
      font-weight: 500;
      padding: 30px 30px 0;
   }
   &-text{
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
   }
   &-info{
      margin-bottom: 20px;
      padding: 0 30px;
   }
   
   &-option{
      display: flex;
      position: relative;
      margin-bottom: 30px;
      justify-content: space-between;
      padding: 0 30px;
      &::before{
         position: absolute;
         content: '';
         max-width: 360px !important;
         background-color: #e6f1fd;
         height: 1px;
         width: 100%;
         top: -15px;
         left: 0;
      }
   }
   &-price{
      background-color: #e6f1fd;
      color: $blue;
      padding: 0 17px;
      border-radius: 15px;
   }
}

.product__items-like{
   padding-left: 30px;
}
.product__botton-btn{
   margin-top: 60px;
  text-align: center;
   button{
      border: none;
      font-size: 16px;
      padding: 14px 39px;
      background-color: $blue;
      color: #fff;
      border-radius: 28px;
      cursor: pointer;
      outline: none;
   } 
}
 
//end product

 //start slider-2

 .slider-2{
    background-color: #eff1f5;
    padding: 120px 0;
 }
 .slider-2__inner{
    display: flex;
    justify-content: space-between;
    & .slick-arrow{
       background-color: $blue;
    }
 }
 .slider-2__star{
    padding-top: 8px;
 }
 
 //end slider-2

 //start statistic

 .statistic{
    background-color: #212225;
    padding: 90px 0;
    &__inner{
       display: flex;
       justify-content: space-between;
    }
    &__sale{
       color: #feb71d;
       &-img{
         &::before{
            content: "\f290";           
            color: #feb71d;
          }
       }
    }
    &__sales{
       color: #58c9e9;
       &-img{
         &::before{
            content: "\f0ed";
            color: #58c9e9;
          }
       }
    }
    &__customers{
       color: #77de51;
       &-img{
         &::before{
            content: "\f118";
            color: #77de51;
          }
       }
    }
    &__members{
       color: #ff6a6d;
       &-img{
         &::before{
            content: "\f2c0";          
            color: #ff6a6d;
          }
       }
    }
 }
 .statistic__item{
    line-height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-summa{
       font-size: 36px;
       margin-bottom: 7px;
    }
    &-text{
       font-size: 18px;
       color: #fff;
    }
    &-img{
      font-size: 48px;
      font-family: 'icomoon';
      margin-bottom: 45px;
    }
 }

 //end statistic
 //start advantages

.advantages{
   padding: 110px 0 120px;
}
.advantages__title{
   font-size: 36px;
   text-align: center;
   color: #000;
   margin-bottom: 20px;
   span{
      color: $blue;
   }
}
.advantages__text{
   max-width: 680px;
   text-align: center;
   color: $gray;
   font-size: 18px;
   margin: 0 auto 55px;
}
.advantages__inner{
   display: flex;
   flex-wrap: wrap;
}
.advantages__item{
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   max-width: 360px;
   padding: 20px 20px 50px 20px;
}
.advantages__item-number{
   color: #dfe8ff;
   font-size: 48px;
   font-weight: 300;
}
.lnr{
   display: inline-block;
   fill: currentColor;
   width: 1em;
   height: 1em;
   vertical-align: -0.05em;
}
.lnr-license{
   font-size: 60px;
   color: $blue;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-magic-wand{
   color: #7f4ec2;
   font-size: 60px;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-lock{
   font-size: 60px;
   color: #77de51;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-chart-bars{
   font-size: 60px;
   color: #feb71d;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-leaf{
   font-size: 60px;
   color: #58c9e9;
   margin-bottom: 30px;
   margin-left: 130px;
}
.lnr-phone{
   font-size: 60px;
   color: #ff6a6d;
   margin-bottom: 30px;
   margin-left: 130px;
}
.advantages__item-title{
   text-align: center;
   font-size: 24px;
   color: #000;
   margin-bottom: 20px;
}
   
.advantages__item-text{
   text-align: center;
   font-size: 14px;
   line-height: 30px;
   color: $gray;
   padding: 0 30px;
}

 //end advantages
 //start buy-sell

.buy-sell{
   margin-bottom: 110px;
   color: #fff;
   &__img{
      padding: 100px 0 45px;
   }
   &__title{
      font-size: 36px;
      margin-bottom: 30px;
   }
   &__text{
      font-size: 16px;
      max-width: 580px;
      margin: 0 auto;
      margin-bottom: 45px;
   }
   &__btn{
      background-color: #fff;
      font-size: 16px;
      border-radius: 27px;
      padding: 16px 30px;
   }
}
.buy-sell__inner{
   display: flex;
}
.buy-sell__item{
   min-height: 560px;
   width: 51%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   text-align: center;
}
.buy__item{
   background-image: url(../images/buy.png);
}
.sell__item{
   background-image: url(../images/sell.png);
}
.buy__btn{
   color: $blue;
}
.sell__btn{
   color: $purple;
}

 //end buy-sell
 //start commets

.commets{
   padding-bottom: 110px;
}
.commets__title{
   font-size: 36px;
   color: #000;
   text-align: center;
   margin-bottom: 25px;
   span{
      color: $blue;
   }
}
.commets__text{
   font-size: 16px;
   color: $gray;
   text-align: center;
   max-width: 685px;
   margin: 0 auto 55px;
   line-height: 30px;
}
.commets__inner{
   display: flex;
}
.commets__item{
   border-left: 2px solid $blue;
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   padding: 40px 40px 40px 50px;
   margin-bottom: 60px;
   margin-right: 30px;
   & + .commets__item{
      margin-right: 30px;
   }
   &-img{
      width: 80px;
      height: 80px;
      margin-right: 20px;
   }
   &-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
   }
   &-wrapper{
      display: flex;
      align-items: center;
   }
   &-name{
      font-size: 20px;
      color: #000;
   }
   &-product{
      font-size: 16px;
      color: $gray;
   }
   &-text{
      font-size: 16px;
      color: $gray;
   }
}
.commets__btn{
   background-color: $blue;
   text-align: center;
   
   font-size: 16px;
   padding: 17px 35px;
   border-radius: 27px;
}
.lnr-bubble{
   font-size: 60px;
   color: #e8e8e8;
}
.commets__button{
   text-align: center;
}

 //end commets
 //start news

.news{
   background-color: #eff1f5;
   padding: 120px 0;
}
.news__inner{
   display: flex;  
}
.news__item{
   background-color: #fff;
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   border-radius: 3px;
   & + .news__item{
      margin-left: 30px;
   }
   &-img{
      max-width: 360px;
      height: 230px;
   }
   &-content{
      padding: 25px 30px;
      position: relative;
   }
   &-title{
      font-weight: 500;
      font-size: 22px;
      color: #000;
      margin-bottom: 12px;
   }
   &-text{
      font-size: 16px;
      line-height: 30px;
      color: $gray;
      margin-bottom: 55px; 
      &::before{
         content: '';
         height: 1px;
         max-width: 360px;
         background-color: #ececec;
         width: 100%;
         position: absolute;
         bottom: 60px;
         left: 0;
      }
   }
   &-info{
      display: flex;
      color: #999;
      line-height: 15px;
      &::before{
         content: '';
         width: 1px;
         height: 40px;
         background-color: #ececec;
         position: absolute;
         bottom: 10px;
         left: 50%;
      }
   }
   &-data{
      margin-right: 80px;
      display: flex;
      
   }
   &-comment{
      margin-right: 30px;
      display: flex;
   }
   &-watching{
      display: flex;
   }
   .lnr-clock{
      color: $blue;
      margin-right: 7px;
   }
   .lnr-bubble2{
      margin-right: 7px;
   }
   .lnr-eye{
      margin-right: 7px;
   }
}

 
 //end news

